.ltg-member-media
{
  border : 1px solid #ccc;

  .media-thumb
  {
    position : relative;
    overflow : hidden;
    width: 125px;
    height: 125px;

    img{
      height: 100%;
      width: auto;
    }

  }

  .media-hover-image
  {
    position : absolute;
    top : 0;
    left : -100%;

    transition : left 0.5s;

    &.active
    {
      left : 0 !important;
    }
  }

  @include media-breakpoint-up( md )
  {
    &:nth-child( even )
    {
      .media-thumb
      {
        order : 10;
      }

      .media-hover-image
      {
        left : 100%;
      }
    }
  }
}
