.ltg-member-media
{
  border : 1px solid #ccc;

  .media-thumb
  {
    position : relative;
    overflow : hidden;
  }

  .media-hover-image
  {
    position : absolute;
    top : 0;
    left : -100%;
  }

}

@include media-breakpoint-up( md )
{
  .ltg-member-media:nth-child( even )
  {
    .media-thumb
    {
      order : 10;
    }

    .media-hover-image
    {
      left : 100%;
    }
  }
}
