{% extends 'layout/basic.html' %}

{% block content %}
  <div id="main" role="main">
    <div class="container">
      <div class="row">
        <div class="col pt-5">
          {% for member in members_list %}
          <div class="ltg-member-media media mb-5 p-1">
            <div class="media-thumb">
              <img src="http://www.placehold.it/120x120" alt="">
              <img src="http://www.placehold.it/120x120" class="media-hover-image" alt="">
            </div>
            <div class="media-body">
              <div class="d-flex justify-content-between p-3">
                <div>######</div>
                <div>$$$$$$</div>
              </div>
              <div class="px-3">
                {{ member.description }}
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
