$header-height : 150px;
$nav-height : 75px;

// -------------------------------------------------
// COLORS
// -------------------------------------------------
$brand-primary : #2c3d4f;
$brand-secondary : #4a6787;
$brand-tertiary : #e84c3d;

$sky-blue : #f7f7f7;
$floor-grey : #f0f0f0;
