<header class="ltg-header">
  <div class="container">
    <div class="row">
      <div class="col d-flex">
        <div class="ltg-header-logo d-flex">
          <a href="/"><img src="http://www.placehold.it/150x150" alt="Lunch Table Games Logo"></a>
        </div>
        <nav class="navbar navbar-toggleable-md">
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#header-nav" aria-controls="header-nav" aria-expanded="false" aria-label="Header Toggle Nav">
            <i class="fa fa-bars" aria-hidden="true"></i>
          </button>
          <div class="collapse navbar-collapse justify-content-md-end" id="header-nav">
            <ul class="navbar-nav">
              <li class="nav-item"><a class="nav-link" href="/about/">Nav Item</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Nav Item</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Nav Item</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Nav Item</a></li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false">Nav Dropdown</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Dropdown Item</a>
                  <a class="dropdown-item" href="#">Dropdown Item</a>
                  <a class="dropdown-item" href="#">Dropdown Item</a>
                </div>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
