{% extends 'layout/basic.html' %}

{% block content %}
  <div class="ltg-featured-banner container d-flex align-items-center">
    <div class="row">
      <div class="col">
        <span class="h1">######</span>
      </div>
    </div>
  </div>
  <div id="main" role="main">

    <section>
      <div class="container">
        <div class="row">
          <div class="col">
            ######
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row">
          <div class="col">
            ######
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row">
          <div class="col">
            ######
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row">
          <div class="col">
            ######
          </div>
        </div>
      </div>
    </section>

  </div>
{% endblock %}
